:root {
  --background: aliceblue;
  --foreground: rgb(129, 122, 122);
  --color: black;
  --primary: #2d2d2d;
}

html {
  height: 300px;
  width: 300px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--color);
}
h1 {
  font-size: 2em;
  margin: 0.5em;
}

header {
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.3em;
  justify-content: space-between;
}

header > button {
  width: 15%;
  height: 15%;
  padding: 0.8em;
}
button {
  background-color: var(--foreground);
  border: 2px solid var(--primary);
  border-radius: 0.8em;
  color: var(--color);
  opacity: 1;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

main {
  margin: 0.3em;
}

select {
  background-color: #393939;
  color: inherit;
  width: 100%;
  align-self: center;
  padding: 0.3em;
  border: 1px solid transparent;
  border-radius: 0.3em;
  outline: transparent;
}

.button-list {
  display: none;
}

.toggled-button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0.3em;
}

.copy-button {
  width: 30px;
  height: 30px;
  background-color: inherit;
  color: inherit;
  border: 1.5px solid white;
  border-radius: 0.3rem;
  margin: 0.3rem;
  padding: 1px;
  font-size: 17px;
  opacity: 0.8;
  transition: opactity 2s;
}

.copy-button:hover {
  opacity: 1;
}
